body {
  font-family: 'Roboto';
  overflow-x: hidden;
}


/* Navbar */
.nav-link {
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 3%;
}

.navbar img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin: 5% 0;
}

.bi {
  margin: auto;
}

.icon-blue {
  color: #1C85EB;
}


/* Track */
#track41 {
  display: none;
}


/* Card Buat */
.btncontrol .ubah {
  padding: 0px 30px;
  border-radius: 50px;
  font-weight: 400;
  margin: 10px auto;
}

.btncontrol .buat {
  padding: 0px 32px;
  border-radius: 50px;
  font-weight: 400;
  margin: 10px auto;
}

#simpan {
  display: none;
}

#mashed-potatoes,
#kentang-goreng,
#nugget-kentang,
#sambal-balado-kentang,
#sambal-balado-kentang-pete,
#kripik-tempe,
#sambel-tempe-kemanggi,
#tempe-kukus,
#tempe-sambel-penyet,
#sambel-tempe-pedas,
#orak-arik-tempe,
#tempe-geprek,
#tempe-sambal-balado,
#nugget-tempe-stik,
#sop-bayam,
#sop-bayam-bening,
#sayur-bayam-jagung-kuah-santan,
#bayam-saus-kecap,
#sandwich-bayam,
#sop-bayam-tofu,
#kripik-bayam,
#biskuit-bayam {
  display: none;
}


/* Footer */
.footer .container hr {
  width: 100%;
  height: 2px;
  margin: auto;
  color: #1C85EB;
}

.footer img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}


/* DESKTOP VERSION */
@media (min-width: 992px) {


  .active::after {
    content: '';
    display: block;
    border-bottom: 3px solid #1C85EB;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .menubar:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #1C85EB;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}


/* MOBILE VERSION */
@media (max-width: 992px) {

  .akun,
  .bi {
    display: none;
  }

  .navbar img {
    max-width: 70px;
  }

  .nav-link {
    margin-right: 0%;
  }

  .btncontrol .ubah {
    margin: 15px 5px 0 auto;
  }

  .btncontrol .buat {
    margin: 15px auto 0 5px;
  }

  .footer {
    margin-top: -30px;
  }

  .footer img {
    max-width: 70px;
  }
}