body {
  font-family: 'Roboto';
  overflow-x: hidden;
}


/* Modal */
.modal span {
  font-weight: 300;
}

.modal .modal-content {
  padding: 20px 0;
}

.btndaftar a {
  padding: 5px 50px;
  border-radius: 50px;
  font-weight: 400;
  background-color: #1C85EB;
  margin: auto;
}

.modal .masuk {
  padding: 5px 50px;
  border-radius: 50px;
  font-weight: 400;
  margin: auto;
}


/* Navbar */
.nav-link {
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 3%;
}

.navbar img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin: 5% 0;
}

.bi {
  margin: auto;
}

.icon-blue {
  color: #1C85EB;
}

.navbar-nav .daftar {
  padding: 5px 50px;
  height: 20%;
  border-radius: 50px;
  font-weight: 400;
  background-color: #1C85EB;
  margin: auto;
}

.navbar-nav .masuk {
  padding: 5px 50px;
  height: 20%;
  border-radius: 50px;
  font-weight: 400;
  margin: auto;
  margin-left: 10px;
}


/* Jumbotron */
.jumbotron {
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
  height: 375px;
  text-align: center;
  position: relative;
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  position: absolute;
  bottom: 0;
}

.jumbotron .container-fluid {
  position: relative;
  z-index: 1;
}

.jumbotron .display-4 {
  color: white;
  padding-top: 50px;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jumbotron span {
  font-weight: 700;
}

.jumbotron a {
  padding: 5px 70px;
  border-radius: 50px;
  font-weight: 400;
  background-color: #1C85EB;
}


/* Filter Section Pencarian */
.filtercari {
  background-color: #F1F6F9;
}

.filtercari h5 {
  font-weight: 500;
}

.filtercari hr {
  width: 200px;
  height: 2px;
  margin: auto;
  color: #1C85EB;
}

.filtercari .f2 {
  margin-top: 45px;
}

.filtercari a {
  text-decoration: none;
}

.filtercari .filter1 .img-fluid {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.filtercari .filter2 .img-fluid,
.filtercari .filter3 .img-fluid {
  width: 100%;
  height: 345px;
  object-fit: cover;
  border-radius: 10px;
}

.filtercari p {
  margin-top: -100px;
  font-weight: 500;
  position: relative;
  color: white;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  opacity: 0.6;
  transition: 0.5s ease all;
}

.filtercari .pfilter2 {
  margin-top: -220px;
}

.filtercari .pfilter3 {
  margin-top: -200px;
}

.filtercari p:hover {
  cursor: pointer;
  opacity: 1;
}


/* Pemberitahuan */
.pemberitahuanbox {
  background-color: #F1F6F9;
}

.langganan {
  width: 70%;
}

.langganan a {
  padding: 5px 70px;
  border-radius: 50px;
  font-weight: 400;
  background-color: #1C85EB;
}

.center-block {
  display: table;
  /* Instead of display:block */
  margin-left: auto;
  margin-right: auto;
}


/* Footer */
.footer .container hr {
  width: 100%;
  height: 2px;
  margin: auto;
  color: #1C85EB;
}

.footer img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}


/* DESKTOP VERSION */
@media (min-width: 992px) {


  .active::after {
    content: '';
    display: block;
    border-bottom: 3px solid #1C85EB;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .menubar:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #1C85EB;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}

/* MOBILE VERSION */
@media (max-width: 992px) {

  .modal .masuk {
    margin-top: 10px;
  }

  .akun,
  .bi,
  #daftar,
  #masuk {
    display: none;
  }

  .navbar img {
    max-width: 70px;
  }

  .nav-link {
    margin-right: 0%;
  }

  .jumbotron {
    height: 275px;
  }

  .jumbotron a {
    font-size: 0.9em;
    padding: 1px 40px;
  }

  .filtercari .filter1 .img-fluid {
    height: 60px;
  }

  .filtercari .filter2 .img-fluid {
    height: 60px;
    margin-top: 11px;
  }

  .filtercari .filter3 .img-fluid {
    height: 60px;
    margin-top: 11px;
  }

  .filtercari .f2 {
    margin-top: -5px;
  }

  .filtercari p {
    margin-top: -50px;
    font-weight: 400;
  }

  .filtercari .pfilter2 {
    margin-top: -50px;
    font-weight: 400;
  }

  .filtercari .pfilter3 {
    margin-top: -50px;
    font-weight: 400;
    height: 0px;
    padding-bottom: -100px;
  }

  .pemberitahuanbox {
    margin-top: -30px;
  }

  .footer {
    margin-top: -30px;
  }

  .footer img {
    max-width: 70px;
  }
}